body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(45deg, #d2001a, #7462ff, #23d5ab);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    display: flex;
}

@keyframes color{
  0% {
      background-position: 0 50%;
  }

  50% {
      background-position: 100% 50%;
  }   
  100% {
      background-position: 0 50%;
  }
}

div {
    background-color: rgba(211, 231, 250, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px;
    border-radius: 15px;
    color: #101010;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

input {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 7px;
    border: none;
}

button {
    background-color: #FA5608;
    padding: 15px;
    width: 100%;
    border-radius: 15px;
    border: none;
    color: white;
    cursor: pointer;
}

.fonte_pequena {
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #0000EE;
}
